
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        background-color: #0073e6;
        color: white;
        width: 100%;
        padding: 10px 20px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav ul li {
        margin: 10px;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    nav ul li a:hover {
        text-decoration: underline;
    }

    section {
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        text-align: center;
        background: white;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
    }

    h2 {
        color: #0056b3;
        margin-top: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    ul li {
        background-color: black ;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    ul li p {
        margin: 0;
    }

    ul li em {
        display: block;
        margin-top: 5px;
        color: #666;
        font-size: 0.9em;
    }

    #add-friend {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        transition: background-color 0.3s;
    }

    #add-friend:hover {
        background-color: #45a049;
    }

    .message {
        color: #f44336;
        margin-top: 20px;
    }

    footer {
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
    }

    /* Media queries pour les appareils mobiles */
    @media (max-width: 768px) {
        header {
            padding: 15px 20px;
        }

        nav ul li {
            margin: 5px;
        }

        nav ul li a {
            font-size: 14px;
        }

        section {
            margin: 15px;
            padding: 15px;
        }

        ul li {
            font-size: 14px;
        }

        footer {
            padding: 15px 0;
        }
    }

    @media (max-width: 480px) {
        header {
            padding: 10px 15px;
        }

        nav ul li {
            margin: 3px;
        }

        nav ul li a {
            font-size: 12px;
        }

        section {
            margin: 10px;
            padding: 10px;
        }

        ul li {
            font-size: 12px;
        }

        footer {
            padding: 10px 0;
        }
    }

